<div class='container cont2'>
  <h3>Our Collection</h3>
  <section class='cont'>
    <div class='div24'>
      <% @products.each do |product| %>
        <div class='border p-2'>
        
        <%= link_to product do %>
          <%= image_tag((product.photo.attached? ? product.photo.variant(:medium) : 'plug.png'), alt: product.name) %>
        <% end %>

        <% if current_user %>
          <%= button_to 'Add to cart', line_items_path(product_id: product.id), class: 'btn btn-outline-light me-2 mb-3 mt-3' %>
        <% end %>

        <h5><%= product.name %></h5>
        <h5><%= number_to_currency(product.price) %></h5>
        <br>
        </div>
      <% end %>
    </div>
  </section>
</div>