<% if @order %>
  <div class='container'>  
    <h1>All your Orders</h1>
    <table class='table'>

      <% @orders.includes(:cart).each do |order| %>
        <td><h2>ORDER № <%= order.id %></h2></td>
        <td><h2>Status : <%= order.status %></h2></td>
        <td><h3>Created : <%= order.created_at.strftime('%d-%m-%Y') %></h3></td>
        <tr>
          <th scope='col'>Name :</th>
          <th scope='col'>Quantity :</th>
        </tr>

        <% order.cart.line_items.includes(:product).each do |line_item| %>
        <tr>
          <td><%= line_item.product.name %></td>
          <td><%= line_item.quantity %></td>
        </tr>
        <% end %>

        <tr>

        <% if order.status == 'unpaid' %>
          <td><%= button_to 'PAY', order_path(order), method: :patch, class: 'btn btn-outline-light me-2' %></td>
        <% else %>
          <td style='color: green'>Order paid : <%= order.updated_at.strftime('%d-%m-%Y') %></td>
        <% end %>

          <td>Order payment amount : <%= number_to_currency(order.cart.sum_price) %></td> 
          <td>
            <div class='mm'>
              <%= link_to 'DELETE ORDER', order_path(order), data: {'turbo-method': :delete}, class: 'btn btn-danger text-white' %>
              <%= button_to 'SHOW ORDER', order_path(order), method: :get, class: 'btn btn-outline-light me-2' %></td>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      <% end %>

  </div>
<% else %>
  <p style='color: green'>Your order list is empty</p>
<% end %>