<div class="col-2 flex-shrink-0 p-3 text-white bg-dark">

  <div class="category">
    <h2>Categories:</h2>
  </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <% @categories.each do |category| %>
        <li class="nav-item">
          <h3><%= link_to "#{category.title}", category_path(category) %></h3>
        </li>
      <% end %>
    </ul> 
</div>

  <!-- Content -->
    <div class="container">
        <h3 class="text-center">Our Collection</h3>
        <% @products.each do |product| %>
          <%= link_to product do %>
          <img src="<%= product.image %>" alt="<%= product.name %>" height="100" width="100">
          <% end %>
              <h5 class="card-title text-center"><%= product.name %></h5>
              <p class="card-title text-center"><%= product.price.to_i %> грн.</p>
        <% end %>
    </div>