<% if current_cart.line_items.any? %>
  <div class='container'>
    <h1>Cart</h1>
    <table class='table'>
        <tr>
          <th scope='col'>Image</th>
          <th scope='col'>Name</th>
          <th scope='col'>Quantity</th>
          <th scope='col'>Price</th>
        </tr>
      <% current_cart.line_items.includes([:product]).each do |line_item| %>
        <tr>
          <td>
            <div class='mb-2'>
              <%= image_tag(line_item.product.foto.variant(:thumb)) %>
            </div>
            <%= link_to 'DELETE position', line_item_path(:id => line_item), data: { 'turbo-method': :delete }, class: 'btn btn-danger text-white' %>
          </td> 
          <td><%= line_item.product.name %></td>
          <td>
            <div class='mm'>
              <%= button_to '+', line_item_quantity_plus_path(:id => line_item), class: 'btn btn-outline-light me-2' %>
              <div class='p-2 justify-content-ceter'>
                <%= line_item.quantity %>
              </div>
              <%= button_to '-',line_item_quantity_reduce_path(:id => line_item), class: 'btn btn-outline-light me-2' %>
            </div>
          </td> 
          <td><%= line_item.price %></td>
        </tr>
      <% end %>
        <tr>
          <td><%= button_to 'Place an order', orders_path, class: 'btn btn-outline-light me-2' %></td>
          <td></td>
          <td>Total price :</td>
          <td><%= current_cart.sum_price %></td>
        </tr>
    </table>
  </div>
<% else %>
  <p style='color: green'>Your cart is empty</p>
<% end %>
