<% if current_cart.line_items.any? %>
  <div class='container'>
    <h1>Cart</h1>
    <table class='table'>
        <tr>
          <th scope='col'>Image</th>
          <th scope='col'>Name</th>
          <th scope='col'>Quantity</th>
          <th scope='col'>Price</th>
        </tr>

      <% current_cart.line_items.includes(product: [photo_attachment: :blob]).each do |line_item| %>
        <tr>
          <td>
            <div class='mb-2'>
              <%= photo_display(line_item) %>
            </div>
            <%= link_to 'DELETE position', line_item_path(id: line_item), data: { 'turbo-method': :delete }, class: 'btn btn-danger text-white' %>
          </td> 
          <td><%= line_item.product.name %></td>
          <td>
            <div class='row'>
              <%= button_to '-', line_item_quantity_reduce_path(id: line_item), class: 'btn btn-outline-light me-2' %>
              <div class='p-2 justify-content-ceter'>
                <%= line_item.quantity %>
              </div>
              <%= button_to '+', line_item_quantity_plus_path(id: line_item), class: 'btn btn-outline-light me-2' %>
            </div>
          </td> 
          <td><%= number_to_currency(line_item.price) %></td>
        </tr>
      <% end %>

        <tr>
          <td><%= button_to 'Place an order', orders_path, class: 'btn btn-outline-light me-2' %></td>
          <td></td>
          <td>Total price :</td>
          <td><%= number_to_currency(current_cart.sum_price) %></td>
        </tr>
    </table>
  </div>
<% else %>
  <p style='color: green'>Your cart is empty</p>
<% end %>
