<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main class='all-row'>
      <%= render 'layouts/sidebar' %>
      <div class='container'>
        <%= render partial: 'layouts/alerts' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
