<% if current_cart.line_items.any? %>
  <div class="container">
    <h1>Cart</h1>
    <table class="table">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      <% current_cart.line_items.each do |line_item| %>
        <tr>
          <td><img src="<%= line_item.product.image %>" height="100" width="100"><%= link_to "DELETE position", line_item_path(:id => line_item), data: {'turbo-method': :delete}, class: 'btn btn-danger' %></td> 
          <td><%= line_item.product.name %></td>
          <td><%= button_to "+", line_item_quantity_plus_path(:id => line_item), class: 'btn btn-primary' %><%= line_item.quantity %><%= button_to "-",line_item_quantity_reduce_path(:id => line_item), class: 'btn btn-primary' %></td> 
          <td><%= line_item.price %></td>
        </tr>
      <% end %>
        <tr>
          <td><%= button_to "Place an ORDER", orders_path, class: 'btn btn-primary' %></td>
          <td></td>
          <td>Total price :</td>
          <td><%= current_cart.summ_price %></td>
        </tr>
    </table>
  </div>
<% else %>
  <p>Your cart is empty</p>
<% end %>
