<div class="container">
  <h1>Products in Category <%= @category.title%></h1>
  <br>
  <% @products.each do |product| %>
    <%= link_to product do %>
      <img src="<%= product.image %>" alt="<%= product.name %>" height="200" width="200">
    <% end %>
    <% if current_user %>
      <%= button_to "Add to cart", line_items_path(product_id: product.id), class: 'btn btn-primary' %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= product.price.to_i %> грн.</p>
      <p class="card-text"><%= product.description %> </p>
    </div>
  <br>
  <% end %>
</div>