<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <nav class= "d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-dark' %></li>
        <li><%= link_to 'Sign in', user_session_path, class: 'nav-link px-2 text-dark' %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link px-2 text-dark' %></li> 
        <li><%= link_to 'Log in as Admin', admin_user_session_path, class: 'nav-link px-2 text-dark' %></li>
        <% if current_user %>
          <li><%= button_to 'All my Orders', orders_path, method: :get, class: 'btn btn-primary' %></li>
          <li><%= button_to 'Cart', cart_path, method: :get, class: 'btn btn-primary' %></li>
          <li><%= current_user.email %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>