<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
<nav class="navbar navbar-light"  style="background-color: #e3f2fd;" >

  <div class="container">
        <%= link_to 'Home', root_path, class: 'nav-link px-2 text-dark justify-content-left' %>
        <% unless current_user %>
          <%= link_to 'Sign in', user_session_path, class: 'text-dark' %>
        <% end %>
        <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link px-2 text-dark' %>
        <!--<li><%= link_to 'Log in as Admin', admin_user_session_path, class: 'nav-link px-2 text-dark' %></li>-->
          <%= button_to 'All my Orders', orders_path, method: :get, class: "btn btn-outline-light me-2" %>
          <%= button_to 'Cart', cart_path, method: :get, class: "btn btn-outline-light me-2" %>
          <%= current_user.email %>
        <% end %>
  </div>
</nav>