    <div class="container cont2">
        <h3>Our Collection</h3>
    <section class='cont'>
    <div class='div23'>
        <% @products.each do |product| %>
          <%= link_to product do %>
          <img src="<%= product.image %>" alt="<%= product.name %>" height="100" width="100">
          <% end %>
            <% if current_user %>
              <%= button_to "Add to cart", line_items_path(product_id: product.id), class: 'btn btn-primary' %>
            <% end %>
              <h5><%= product.name %></h5>
              <h5><%= product.price.to_i %> грн.</h5>
              <br>
        <% end %>
        </div>
        </section>
    </div>