  <div class='container'>
    <h3><%= @product.name %></h3>
    <div class='container mm'>
      <div>
        <%= image_tag(@product.image, height: '300', alt: "#{@product.name}") %>
      </div>
      <div class='container'>
        <div>
          <h5><%= @product.description %></h5>
        </div>
        <h6>Category: <%= @category.title %></h6>
        <br>
        <p class='card-text'><%= number_to_currency(@product.price) %> грн.</p>
        <% if current_user %>
          <%= button_to 'Add to cart', line_items_path(product_id: @product.id), class: 'btn btn-outline-light me-2' %>
        <% end %>
      </div>
    </div>
  </div>