<div class="container">  
  <br>
  <h1>Your Order № <%= @order.id %></h1>
  <table class="table">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      <% @order.cart.line_items.each_with_index do |line_item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><img src="<%= line_item.product.image %>" height="100" width="100"></td> 
          <td><%= line_item.product.name %></td>
          <td><%= line_item.quantity %></td> 
          <td><%= line_item.price %></td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <td><%= link_to 'DELETE ORDER', order_path(@order), data: {'turbo-method': :delete}, class: 'btn btn-danger' %></td>
          <td></td>
          <td>Total price :</td>
          <td><%= @order.cart.line_items.map(&:price).sum %><%= button_to "PAY", order_path, method: :patch, class: 'btn btn-primary' %></td>
        </tr>
    </table>
</div>