<div class='border p-2'>

  <%= link_to product do %>
    <%= image_tag((product.photo.attached? ? product.photo.variant(:medium) : 'plug.jpg'), alt: product.name) %>
  <% end %>

  <h5><%= product.name %></h5>
  <h5><%= number_to_currency(product.price) %></h5>

  <%= render 'products/add_to_cart', product: product %>

</div>

